.todoList {
  list-style: none;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
  width: 100%;
}

.emptyMessage {
  color: #adb5bd;
  font-style: italic;
  margin: 30px auto;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .emptyMessage {
    color: #777;
  }
}
